<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title admin tatto | add
        include ../includes/client/head.pug
    body(id="page-top")
        include ../includes/client/navigation.pug
        section#inicio
            .container
                .row
                    .col-md-6.col-sm-12.text-informacion
                        p#pWepa.font-2=post.title
                        h3.section-heading.color-wp.text-uppercase=post.subtitle
                        hr.hr-2
                        p.text-muted.font-14=post.description
                        p.text-muted.font-14=post.summary
                    .col-md-6.col-sm-12.portfolio-item.mb-4.text-center
                        img(src=post.path, class="img-fluid size-img-2")
        include ../includes/client/foot.pug